.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CSS for Navbar Component */

nav {
    background-color: #071c35;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.complete-page {
    width: 100%;
    height: 100%;
}
  
.name {
    /* font-weight: bold; */
    /* font-family: 'Smooch', cursive; */
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Kaushan Script', cursive;
    /* font-family: 'Smooch', cursive; */
    /* font-family: 'Dancing Script', cursive; */
    padding: 0px;
    font-size: 60px;
    margin-left: 150px;
    color: white;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 200px;
}

.navbar-list li {
    margin: 0 10px;
}

.navbar-list a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.navbar-list a:hover {
    background-color: #333;
    color: #fff;
}

.main-component {
    background-color: #071c35;
    color: white;
     /* width: 1585px; */
    height: 10000px;
}


.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icons a {
    color: white;
    font-size: 24px;
    margin: 0 10px;
}


